html *
{
   font-size: large; 
   /* The !important ensures that nothing can override what you've set in this style (unless it is also important). */
   font-family: Arial;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
  
#drop_zone{
	width:60%;
	margin: 0 auto;
    background-color: #2E3134;
    border-radius: 5px;
    color: #7F858A;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 40px 50px;
    text-align: center;
    text-transform: uppercase;
}

h1            { 
	text-align: center; 
	font: bold 250% sans-serif; 
}

th, td        { 
	vertical-align: top; 
	text-align: left; 
}   

/* #finaltable  * { color: white; background-color: black; }   */
/* #finaltable table { border-collapse:collapse; } */
/* #finaltable table, td { border:1px solid white; } */

/*#finaltable:hover td { background-color: blue; } */

tr:nth-child(odd)    { background-color:#2E3134; color: #7F858A; }
tr:nth-child(even)    { background-color:white ; }

input        { text-align: right;  border: none;     }     /* Align input to the right  */
textarea     { border: none; border-color: black;       }                        
table        { border: inset; border-color: black; margin: 0 auto;}

.hidden      { display: none; } /*none*/
.unhidden    { display: block; } /*block*/

table.center { margin-left:auto; margin: 0 auto; }
#result      { border-color: red; }
tr.error       { background-color: red; }

pre.output   { background-color: #909090 ; }
span.repeated { color: red }
span.header { color: 330066 } /*dark blue*/
span.comments { color: white }
span.blanks { color: black } 
span.nameEqualValue { color: 333366	 }/*similar to dark purple*/
span.error { background-color: red }

body
{
 background-color:white;  /* white */
 background-image: url(img/background.jpg);
}